.ant-layout {
  height: 100vh;
  overflow: hidden;

  // .admin-layout-sider {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   height: 100%;
  //   z-index: 1000;
  // }

  .admin-layout-menu .ant-menu-item {
    font-size: 15px;
    color: white;
  }

  .admin-layout-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .layout-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 1;
    }

    .header-left {
      float: left;
      padding-left: 20px;
    }

    .header-right {
      float: right;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 20px;

      .headeravatar {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        border-radius: 5px;

        .el-avatar {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.admin-layout-tabs {
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #f0f2f5;
}

// 内容区域样式
.ant-layout-content {
  flex: 1;
  overflow-y: auto; // 允许内容区域独立滚动
  padding: 20px;
  background: #f0f2f5;
}